.container {
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.655);
}

.logo {
    margin-left: 20px;
    height: 60px;
    img {
        height: 100%;
    }
}

.profile {
    margin-right: 20px;
    height: 60px;
    img {
        height: 100%;
    }
}

@media (max-width: 425px) {
    .container {
        height: 60px;
    }
    .logo {
        height: 40px;
    }
    .profile {
        height: 40px;
    }
}