.container {
    background-color: black;
}

.title {
    color: white;
    margin-top: 20px;
}

.list {
    display: flex;
    overflow: hidden;
}

.image {
    padding: 10px;
    transform: scale(1);
    &:hover {
        transform: scale(1.15);
        cursor: pointer;
    }
}